      <header class="masthead">
        <div class="container">
          <h3 class="masthead-title">
	    <a href="{{ .Site.BaseURL }}" title="Home">{{ .Site.Title }}</a><br>
            <span class="tagline">{{ .Site.Params.Subtitle }}</span>
          </h3>

          <div class="navigation">
            <span class="nav-action"><a href="/current/">Current</a></span>
            <span class="nav-action"><a href="/blog/archive/">Blog</a></span>
            <span class="nav-action"><a href="/projects/">Projects</a></span>
            <span class="nav-action"><a href="/about/">About</a></span>
            <!-- <span class="nav-action"><a style="color:#FF6600;" href="/post/index.xml"><i class="fa fa-rss"></i></a></span> -->
            <!-- <span class="nav-action"><a href="/contact">Contact</a></span> -->
          </div>

          <div style="clear:both;"></div>
        </div>
      </header>
